@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

// Colors
$primaryColor: #3aa1ff;
$secondaryColor: #ff6f00;
$terinaryColor: #ffd600;
$textColor: #333333;
$backgroundColor: #f5f5f5;

// Fonts
$font-family: 'Montserrat', sans-serif;

.wrapper {
  background-color: $primaryColor;
  height: 5em;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
