@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.header {
  background-image: url('../images/hero-image.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: $primaryColor;

    .logo-container {
      height: 3em;

      .logo {
        height: 100%;
        font-weight: 700;
        display: flex;
        align-items: center;

        .logo__img {
          height: 100%;
        }

        .logo__text {
          margin-left: 0.5em;
        }
      }
    }

    .links-container {
      height: 3em;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        flex-direction: row;

        li {
          margin: 0 2em;

          a {
            font-weight: 700;
          }
        }
      }
    }
  }

  h1 {
    color: $primaryColor;
    font-size: 4rem;
    text-shadow: 5px 5px 2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
