@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

header {
  background-image: url('../images/sky-back.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: $primaryColor;
    opacity: 0.8;

    .logo-container {
      height: 50px;

      img {
        height: 100%;
      }
    }

    .links-container {
      height: 50px;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        li {
          margin: 0 2em;

          a {
            text-decoration: none;
            color: $textColor;
            font-weight: 700;
          }
        }
      }
    }
  }

  h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
