@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main {
  padding: 1em;

  h2,
  h3 {
    text-transform: uppercase;
  }

  h2 {
    padding: 1em 0;
    font-size: 2em;
  }

  h3 {
    padding: 1em 0;
  }

  .section {
    margin-bottom: 4em;

    .section__image {
      padding: 0.5em;
      background-color: $terinaryColor;
    }

    .section__text {
      margin: 0.5em 0;
      line-height: 1.6;
    }

    .section__link {
      text-decoration: underline;

      &:hover,
      &:focus {
        background-color: $terinaryColor;
        color: #fff;
      }
    }
  }

  .video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    video {
      padding: 0.5em;
      background-color: $terinaryColor;
      width: 100%;
    }
  }

  label,
  input {
    display: block;
  }

  input {
    margin-bottom: 1em;
    width: 50%;
    padding: 0.5em;
  }

  input:last-of-type {
    margin-top: 1em;
    background-color: $terinaryColor;
    border: none;
    border-radius: 1em;
    padding: 1em 1.5em;
    box-shadow: 1px 2px $textColor;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@include mq-sm {
  main {
    .section {
      .section__text {
        padding: 0;
      }

      .section__text:first-child {
        margin-top: 0;
      }

      .section__text + .section__text {
        margin-top: 1em;
      }

      .section-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      .row {
        width: 47%;
      }
    }

    .section:nth-child(odd) {
      .section-container {
        flex-direction: row;
      }
    }
  }
}
