@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main {
  padding: 1em;

  h2,
  h3 {
    text-transform: uppercase;
  }

  h2 {
    padding: 1em 0;
    font-size: 2em;
  }

  .section {
    h3 {
      padding-bottom: 1em;
    }

    .section-container {
      margin-bottom: 2em;
    }

    .section__image {
      padding: 0.5em;
      background-color: $terinaryColor;
    }

    .section__text {
      margin: 0.5em 0;
      line-height: 1.6;
    }

    .section__link {
      text-decoration: underline;

      &:hover,
      &:focus {
        background-color: $terinaryColor;
        color: #fff;
      }
    }
  }
}

@include mq-sm {
  .section__text {
    padding: 0 !important;
  }

  .section + .section {
    margin-top: 2em;
  }

  .section-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .section__text:first-child {
      margin-top: 0 !important;
    }

    .section__text + .section__text {
      margin-top: 1em;
    }
  }

  .section:nth-child(odd) {
    .section-container {
      flex-direction: row;
    }
  }

  .row {
    width: 47%;
  }
}
