@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $textColor;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $font-family;
  color: $textColor;
  background-color: $primaryColor;
}
